$primary-color: #272727;
$secondary-color: #ff652f;
$blanco: #fff;
$fuentePrincipa: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    // outline: 1px solid;
}
@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}
@function set-text-color($color){
    @if (lightness($color) > 40%){
        @return #000;
    }@else{
        @return #fff;
    }
}
@mixin media-md {
    @media (min-width:768px) {
        @content;
    }
}
@mixin media-lg {
    @media (min-width:900px) {
        @content;
    }
}
@mixin media-xl {
    @media (min-width:1600px) {
        @content;
    }
}